
.home-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color:#111;
   
}

.home-header{
    
    width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
  
    font-family: Tahoma, sans-serif;
    font-size: xx-large;
    color:aliceblue;    
    
}

p{
    color:aliceblue; 
    font-family: Tahoma, sans-serif;
}


.home-content{
    background-color: rgb(4, 1, 1);
    position:absolute;
    width: 500px;
    height:200px;
    opacity:0.6;
}


