.upload-wrap {
    overflow: hidden;
    position: relative;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .upload-bg {
    
    
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }
  
  .upload-content {
    position: relative;
    width:500px;
    height:200px;
    display:flex;
    background-color: rgb(231, 197, 197);
    opacity:0.6;
    align-items: center;
  }

  .body{
    height:100%;
  }
  
  .upload-text{
    font-family: "Vibur", sans-serif;
    position:absolute;
    font-weight: 400;
    padding-left: 100px;
    font-size: larger;
  }